<div class="bgLg"></div>
<section class="login_section">
    <div class="h-100">
        <div class="card login_card">
            <div class="card-body">
                <div class="card_header">
                    <h3 class="" style="color: #f45d48;">Company Logo</h3>
                    <p class="" style="font-size: 30px;">Welcome to tasky</p>
                </div>
  
                <div class="card_form hey">
                    <form class="">
                        <div class="">
                            <div class="form-group w-100">
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="">
                                <label for="exampleInputEmail1">Email address</label>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone else.</small>
                            </div>
   
                            
                            <div class="form-group w-100">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                                <label for="exampleInputPassword1">Password</label>
                            </div>
                            
                            <div class="form-group">

                                <div class="form-check custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                                    <label class="custom-control-label" for="customCheck2">Remember Password</label>
                                </div>

                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn logIn_btn w-100">Submit</button>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>