
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="mobileMok" >
        <img src="../../../assets/images/mobile-apps.jpg" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="mobileMok" >
        <img src="../../../assets/images/mobile-apps.jpg" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="mobileMok" >
        <img src="../../../assets/images/mobile-apps.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>