<!-- <main rel='main'>
    <ul role='presentation'>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button></button>
  </main>
  </p> -->

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="mobileMok" style="height: 100%; border-radius: 10px;">
        <img src="../../../assets/images/1576.jpg" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="mobileMok" style="height: 100%; border-radius: 10px;">
        <img src="../../../assets/images/1576.jpg" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="mobileMok" style="height: 100%; border-radius: 10px;">
        <img src="../../../assets/images/1576.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>