<p class="font_weight_600">Recommendations</p>
<div class="cardGrid">
    <div class="cardBottom">
        <div class="leftCardArea">
            <img src="../../../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
        </div>
        <div class="rightCardArea">
            <div class="d-flex flex-column">
                <div class="cardTop">
                    <img src="../../../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
                    <small>jesse snyder<span>34min</span></small>

                </div>
                <div class="cardCenter">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a >Blogging</a>
            </div>
        </div>
    </div>
    <div class="cardBottom">
        <div class="leftCardArea">
            <img src="../../../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
        </div>
        <div class="rightCardArea">
            <div class="d-flex flex-column">
                <div class="cardTop">
                    <img src="../../../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" alt="">
                    <small>jesse snyder<span class="">34min</span></small>

                </div>
                <div class="cardCenter">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a >Blogging</a>
            </div>
        </div>
    </div>
</div>