<header>
    <nav class="navbar" [ngClass]="status ? 'Close' : 'Open' ">
        <i class="ri-close-circle-line " (click)="clickNav()" ></i>
        <ul>
            <li>
                <a class="">Overview</a>
            </li>
            <li>
                <a class="">Features</a>
            </li>
            <li>
                <a class="">Blog</a>
            </li>
            <li>
                <a class="Sbtn">Login</a>
            </li>
            <li>
                <a class="Sbtn">Sign Up</a>
            </li>
        </ul>
    </nav>
    <nav class="mobilenav">
        <div class="d-flex align-items-center justify-content-between">
            <h6>Navbar</h6>
            <button class="menu" (click)="clickNav()">
                <i class="ri-menu-3-line"></i>

            </button>
        </div>
    </nav>
</header>