<header>
    <nav class="navbar">
        <ul>
            <li>
                <a class="">Overview</a>
            </li>
            <li>
                <a class="">Features</a>
            </li>
            <li>
                <a class="">Blog</a>
            </li>
            <li>
                <a class="Sbtn">Login</a>
            </li>
            <li>
                <a class="Sbtn">Sign Up</a>
            </li>
        </ul>
    </nav>
    <!-- <nav class="mobilenav">
        <div>
            <h6>Navbar</h6>
        </div>
    </nav> -->
</header>